spring:
  application:
    name: catalog
  datasource:
    url: jdbc:mysql://localhost:3306/product-catalog
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
